body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
}

.post {
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
}

.post-info {
    font-style: italic;
}